################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ConsoleRPG/x64/Debug
/x64/Debug
/.vs
