################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Game/v17
/.vs
/Main game/.vs/Main/v17
/Main game/x64/Debug
/Main game/Debug/Main.tlog
/Main game/Debug
